.hidden {
    display: none;
}   

p{
    color: blue;
}

h1{
    color: red
}

#top-title{
color: green;
font-family: Helvetica;
}

div{
    background: lightgray;
    background: -moz-linear-gradient(left, lightgray 0%, gray 50%, black 100%)
    
}