body{
    background:rgb(98,149,177);
}

.hidden {
    display: none;
}   

p{
    color: blue;
}

h1{
    color: white;
}

#top-title{
color: white;
font-family: Gill Sans;
font-size: 50px;
}

div{
 


}

button{
    -webkit-box-shadow: 3px 3px 4px 2px #000000; 
box-shadow: 3px 3px 4px 2px #000000;
margin: 4px;
border-radius: 3px;
padding: 5px;
background: white;
color: black;
}

label{
    padding: 15px;
    margin: 10px;
    border:10px;
}